@page "/UserItem"
@inject UserDataService UserDataService

<h3>UserItem</h3>

<div class="mb-3">
    UserID:
    <input type="number" @bind="userId" class="form-label" name="UserID">UserID</input>
    <button class="btn btn-primary" @onclick="GetUserDataByUserId">Search</button>
</div>